/*-------------------------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------------------------*/

*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,body{
    background-color: white;
    color:#555;
    font-family:Arial;
    font-size:20px;
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
}

/*.clearfix{zoom:1}
.clearfix{
    content:".";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
}
*/

/*-------------------------------------------------------------*/
/* HEADER */
/*-------------------------------------------------------------*/

header{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.767)),to(rgba(0, 0, 0, 0.767))),url(Images_CSS/hero.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.767)),url(Images_CSS/hero.jpg);
    height:100vh;
    background-size:cover;
    background-position: center;
    background-attachment:fixed;
 }

.hero-text-box{
    position:absolute;
    width:1140px;
    top:50%;
    left:50%;
   -webkit-transform:translate(-50%,-50%);
     transform:translate(-50%,-50%);
}

.logo{
    margin-top:10px;
    margin-left:15px;
    height:90px;
    width:auto;
    float:left;
}

.logo-black{
    margin-top:5px 0;
    margin-left:15px;
    height:50px;
    width:auto;
    float:left;
    display:none;
    padding:2px 0;
}

/*---------------MAIN NAVI--------------------*/
.main-nav{
    float:right;
}

.main-nav li{
    display:inline-block;
    margin-right:20px;    
    margin-top:30px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    font-size:80%;
    padding:6px;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom:2px solid orange;
}

/*--------------STICKY NAVI--------------------*/

.sticky{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:rgba(255, 255, 255, 0.877);
    box-shadow: 2px 2px 2px rgb(226, 176, 10);
    z-index: 9999;
}

/* .sticky .main-nav{
    margin-top:14px;
}
*/

.sticky .main-nav li{
    margin-top:14px;
}


.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    color:Black;
    padding:15px 0;
}

.sticky .logo{
    display:none;
}

.sticky .logo-black{
    display:block;
} 

/*-------------------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*-------------------------------------------------------------*/

.row{
    margin:0 auto;
    width:1140px;
}

.section-features{
    padding:80px 0;
    height:100vh;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.767)),to(rgba(0, 0, 0, 0.767))), url(Images_CSS/lunch.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.767)), url(Images_CSS/lunch.jpg);
}

.section-meals{
    padding:80px 0;
    height:100vh;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.767)),to(rgba(0, 0, 0, 0.767))), url(Images_CSS/img2.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.767)), url(Images_CSS/img2.jpg);
}


.section-steps{
    padding:80px 0;
    height:100%;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.770)),to(rgba(0, 0, 0, 0.770))), url(Images_CSS/image8.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.770),rgba(0, 0, 0, 0.770)), url(Images_CSS/image8-min.jpg);
}

.section-cities{
    padding:80px 0;
    height:100vh;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.770)),to(rgba(0, 0, 0, 0.770))), url(Images_CSS/WP6.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.770),rgba(0, 0, 0, 0.770)), url(Images_CSS/WP6.jpg);
}

.box{
    padding:1%;
}


/*-------------------------------------------------------------*/
/*----------- HEADINGS --------------*/
/*-------------------------------------------------------------*/

h1,h2,h3{
    font-weight:300;
    text-transform:uppercase;
}

h1{
    margin-bottom:20px;
    color:white;
    font-size:200%;
    word-spacing:2px;
    letter-spacing: 1px;
}
h2{
    font-size:160%;
    word-spacing:2px;
    text-align:center;
    margin-bottom:30px;
    letter-spacing: 1px;
    color:white;
    margin-top:0;
}

h2:after{
    display:block;
    background-color:orange;
    content:"";
    height:3px;
    width:20%;
    margin:0 auto;
    margin-top:30px;
}

h3{
    font-size:95%;
    margin-bottom:15px;
    color:white;
}

/*-------------------------------------------------------------*/
/*-----------PARAGRAPHS-------------*/
/*-------------------------------------------------------------*/

.long-copy{
    line-height:145%;
    width:70%;
    margin-left:15%;
    color:white;
}

.box p{
    font-size:80%;
    line-height:145%;
    text-align:justify;
    color:white;
}

/*-------------------------------------------------------------*/
/*-----------ICONS-----------------*/
/*-------------------------------------------------------------*/

.icon-big{
    font-size:250%;
    display:block;
    color:rgb(224, 127, 16);
    margin-bottom:10px;
}

.icon-small{
    display:inline-block;
    width:30px;
    text-align:center;
    color:orange;
    font-size:120%;
    line-height:120%;
    vertical-align:middle;
    margin-top:-2px;
    margin-right:10px;
}

/*-------------------------------------------------------------*/
/*----------- BUTTONS ---------------*/
/*-------------------------------------------------------------*/

.btn:link,
.btn:visited,
input[type=submit]{
    display:inline-block;
    padding:10px 30px;
    text-decoration:none; 
    border-radius:200px;
    color:white; 
    -webkit-transition:background-color 2s, border 2s,color 2s; 
    transition:background-color 2s, border 2s,color 2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    border:1px solid orange;
    background-color: orange;
    margin-right:10px;   
}

.btn-ghost:link,
.btn-ghost:visited{
    border:1px solid orange;
    color:orange;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color:rgb(255, 123, 0);
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{
    border:1px solid rgb(255, 123, 0);
    background-color: rgb(255, 123, 0);
    color:rgb(250, 241, 241);
    
}

.btn-ghost:hover,
.btn-ghost:active{
    border:1px solid rgb(255, 123, 0);
    color:rgb(250, 241, 241);
}


/*-------------------------------------------------------------*/
/*-----------Meals---------------*/
/*-------------------------------------------------------------*/

.section-meals{
    padding:0;
}

.meals-showcase{
    list-style:none;
    width:100%;
}

.meals-showcase li{
    display:block;
    float:left;
    width:25%;

}

.meals-photo{
    width:100%;
    margin:0;
    overflow:hidden;
    background-color:black;
}

.meals-photo img{
    opacity:0.7;
    width:100%;
    height:auto;
    -webkit-transition:opacity 1,-webkit-transform 2s;
    transition:opacity 1,-webkit-transform 2s;
    transition:transform 2s,opacity 1;
    transition:transform 2s,opacity 1,-webkit-transform 2s;
    -webkit-transform:scale(1.15);
            transform:scale(1.15);
}

.meals-photo img:hover{
    -webkit-transform:scale(1);
            transform:scale(1); 
    opacity:1;
}

/*-------------------------------------------------------------*/
/*-----------WORKING STEPS---------------*/
/*-------------------------------------------------------------*/

.steps-box{
    margin-top:30px;
}

.steps-box:first-child{
    text-align:right;
    padding-right:3%;
}

.steps-box:last-child{
    padding-left:3%;
}

.app-screen{
    width:40%;
    height:40%;
}

.work-steps{
    margin:40px;
    color:white;
}

.work-steps:last-of-type{
    margin-bottom:80px;
}

.work-steps div{
    border:2px solid orange;
    border-radius:50%;
    height:40px;
    width:40px;
    margin-right:10px;
    text-align:center;
    display:block;
    float:left;
    padding:5px;
}

.btn-app:link,
.btn-app:visited{
    border:0;   
    }

.btn-app img{
    height:50px;
    width:auto;
    margin-right:10px;
}

/*-------------------------------------------------------------*/
/*-------------CITIES-------------*/
/*-------------------------------------------------------------*/

.box img{
    width:100%;
    height:auto;
    margin-bottom:15px;
}

.city-features{
    margin-bottom:5px;
    color:white;
}

/*-------------------------------------------------------------*/
/*-------------LINKS--------------*/
/*-------------------------------------------------------------*/

.cities-link:link,
.cities-link:visited{
    color:orange;
    text-decoration:none;
    border-bottom:2px solid orange;
    padding-bottom:2px;
    -webkit-transition:background-color 2s, border 2s, color 2s;
    transition:background-color 2s, border 2s, color 2s;
}

.cities-link:hover,
.cities-link:active{
    color:rgb(255, 0, 157);
    border-bottom:2px solid transparent;
    -webkit-transition:background-color 2s, border 2s, color 2s;
    transition:background-color 2s, border 2s, color 2s;
}

/*-------------------------------------------------------------*/
/*--------------TESTMONIALS----------------*/
/*-------------------------------------------------------------*/


.section-testmonials{
    color:white;
    padding:80px 0;
    height:100vh;
    background-size:cover;
    background-position:center;
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(0, 0, 0, 0.8))), url(Images_CSS/WP5.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(Images_CSS/WP5.jpg);
    background-attachment:fixed;
}

blockquote{
    padding:2%;
    line-height:145%;
    position: relative;
    margin-top:40px;
}

blockquote:before{
    content:"\201C";
    font-size:300%;
    display:block;
    position: absolute;
    top:-5px;
    left:-5px;
}

cite{
    font-size:90%;
    margin-top:25px;
    display:block;
}

cite img{
       height:45px;
       border-radius:50%; 
       margin-right:10px;
       vertical-align:middle;
}


/*-------------------------------------------------------------*/
/*--------------SUBCRIPTION PLANS----------------*/
/*-------------------------------------------------------------*/

/*.section-plans{
    background-color:#f4f4f4;
}*/

.plan-color{
    color:black;
}
.plan-box{
    background-color: white;
    border-radius:5%;
    width:90%;
    margin-left:5%;
    -webkit-box-shadow: 3px 3px 3px rgb(226, 178, 88);
            box-shadow: 3px 3px 3px rgb(226, 178, 88);
}

.plan-box div{
    padding:15px;
    border-bottom:1px solid #e8e8e8;
}

.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius:5px; 
}

.plan-box div:last-child{
    text-align:center;
    border:none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.plan-price{
    font-size:250%;
    margin-bottom:10px;
    color:orange;
}

.plan-price span{
    font-size:30%;
}

.plan-price-meal{
    font-size:80%;
}

.plan-box ul{
    list-style:none;
}

.plan-box ul li{
    padding:5px 0;
}

.section-plans{
    color:Black;
    padding:80px 0;
    height:100%;
    background-size:cover;
    background-position:center;
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.750)),to(rgba(0, 0, 0, 0.750))), url(Images_CSS/WP7.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.750),rgba(0, 0, 0, 0.750)), url(Images_CSS/WP7.jpg);
    background-attachment:fixed;
}

/*-------------------------------------------------------------*/
/*-------------------FORM--------------------*/
/*-------------------------------------------------------------*/

.form_color{
    color:black;
    margin-top:30px;
}


.contact-form{
    width:100%;
    margin:0 auto;
 }


input[type=text],
input[type=email],
select,
textarea{
        width:100%;
        padding:7px;
        border-radius:3px;
        border:2px solid orange;
}

textarea{
    height:100px;
}

input[type=checkbox]{
    margin:10px 5px 10px 0;
}

*:focus{outline:none;}

/*-------------------------------------------------------------*/
/*-------------------FOOTER--------------------*/
/*-------------------------------------------------------------*/

footer{
    background-color:#333;
    padding:50px;
}

.footer-nav{
    list-style:none;
    float:left;
}

.social-links{
    list-style:none;
    float:right;
}

.footer-nav li{
    display:inline-block;
    margin-right:20px;
    font-size:80%;
}

.social-links li {
    display:inline-block;
    margin-right:20px;
}

.social-links li:last-child{
  margin-right:0;
}

.footer-nav li a:link,
.footer-nav li a:visited{
    text-decoration:none;
    border:none;
    color:rgb(235, 231, 231);
    -webkit-transition: color 1s;
    transition: color 1s;
}

.footer-nav li a:hover,
.footer-nav li a:active
{
    color:rgb(226, 155, 24);
}

.social-links li a:link,
.social-links li a:visited{
    text-decoration:none;
    border:none;
    color:rgb(235, 231, 231);
    font-size:140%;
}

.ion-social-facebook:hover,
.ion-social-facebook:active{
    color:#3b5999;
}

.ion-social-twitter:hover,
.ion-social-twitter:active{
    color:#55acee;
}

.ion-social-googleplus:hover,
.ion-social-googleplus:active{
    color:#dd4b39;
}

.ion-social-instagram:hover,
.ion-social-instagram:active{
    color:#e4405f;

}
footer p{
    color:rgb(235, 231, 231);
    text-align:center;
    font-size:80%;
    margin-top:30px;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    -webkit-transition: color 1s;
    transition: color 1s;
}


/*-------------------------------------------------------------*/
/*-----------Animations----------------*/
/*-------------------------------------------------------------*/

.js-row,
.js-works,
.js-cities,
.js-cities-1{
    opacity:0;
    animation-duration:1s;
}

.js-row.animated
.js-works.animated
.js-cities.animated,
.js-cities-1.animated{
    opacity:1;
    animation-duration:1s;
}